@CHARSET "UTF-8";
.body
{
	height: 50%;
	width: 98%;
	margin: 0px 0px 0px 0px;
}
.form
{
	height: 50%;
	width: 98%;
	margin: auto;
}
.menu
{
	height: 20px;
	width: 98%;
	margin: 0px 0px 0px 20px;
}
.href
{
	height: 20px;
	width: 50px;
	font-family: 宋体;
	font-size: 12px;
}
.head
{
	height: 200px;
	width: 98%;
	margin: auto;
}
.subject
{
	height: 50%;
	width: 98%;
	margin: 10px auto;
}
.textbox
{
	height: 20px;
	width: 750px;
	margin: auto;
}
.table
{
	height: 20px;
	width: 750px;
	margin: auto;
}
.tr
{
	height: 20px;
	width: 750px;
}
.result_tb
{
	height: 20px;
	width: 750px;
}
.th1
{
    height: 20px;
    width: 50px;
    font-family: 宋体;
    font-size: 12px;
    text-align: center;
}
.th2
{
    height: 20px;
    width: 200px;
    font-family: 宋体;
    font-size: 12px;
    text-align: center;
}
.th3
{
    height: 20px;
    width: 100px;
    font-family: 宋体;
    font-size: 12px;
    text-align: center;
}
.select_tb
{
	height: 220px;
	width: 50px;
}
.text_td1
{
	height: 220px;
	width: 200px;
}
.text_td2
{
	height: 220px;
	width: 100px;
}
.button_td
{
	height: 220px;
	width: 50px;
}
.result
{
	height: 20px;
	width: 750px;
	border: 0px;
	background-color: transparent;
	font-family: 宋体;
	font-size: 12px;
	color: #FF0000;
	text-align: center;
}
.checkbox
{
	height: 15px;
	width: 15px;
}
.image
{
	height: 200px;
	width: 200px;
}
.text1
{
	height: 20px;
	width: 200px;
	border: 0px;
	background-color: transparent;
	font-family: 宋体;
	font-size: 12px;
	text-align: center;
}
.text2
{
	height: 220px;
	width: 100px;
	border: 0px;
	background-color: transparent;
	font-family: 宋体;
	font-size: 12px;
	text-align: center;
}
.text3
{
	height: 220px;
	width: 50px;
	border: 0px;
	background-color: transparent;
	font-family: 宋体;
	font-size: 12px;
	text-align: center;
}
.button1
{
    height: 20px;
    width: 30px;
    font-family: 宋体;
    font-size: 12px;
}
.title
{
	height: 20px;
	width: 68px;
	font-family: 宋体;
	font-size: 12px;
}
.text4
{
	height: 20px;
	width: 132px;
	border: 0px;
	background-color: transparent;
	font-family: 宋体;
	font-size: 12px;
	text-align: left;
}
.button2
{
    height: 20px;
    width: 50px;
    font-family: 宋体;
    font-size: 12px;
}
.button3
{
    height: 20px;
    width: 100px;
    font-family: 宋体;
    font-size: 12px;
    float: right;
    margin: 0px 20px 0px 0px;
}